/* google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@500&display=swap');
/* body styling*/
* {
    margin: 0;
    padding: 0;
    border: none;
    
}
body {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}
/* header styling*/
li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #1b0b54;
    text-decoration: none;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 20%;
}
.logo {
    cursor: pointer;
}
/* navigation links*/
.nav-links {
    list-style: none;
}
.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition:all 0.3s ease 0s;
}

.nav-links li a:hover {
    color:blue;
}
/* cta button */
button {
    padding: 5px 25px;
    background-color: rgba(249,105,14,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition:all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(249,105,14,0.8)
}
/*hero image*/
#hero-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#cover-text  {
    color:white;
    font: size 100%;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;  

    width:300px;
    height: 250px;

    padding-top:40px;
    padding-left: 10px;

    background-color: rgba(249,105,14,0.8);

    bottom: 50px;
    right:150px;

    position:absolute;
}
#cover-text h1 {
    font-size:200%;
}
#hero-image {
    height: 500px;
    width: 100%;
    background: url('../images/Secret\ sauce\ hero\ image.png') no-repeat center center;
}
/*sales then section*/
#sales-then {
    height: 500px;
    display: flex;
   
}
#sales-then-left {
    padding-top: 30px;
    flex:1;
    width:50%;
    margin: 20px;
}
#sales-then-right h2 {
    color:#1b0b54
}
#sales-then-right {
    padding-top: 30px;
    flex:1;
    width:50%;
    height:500px;
}
.sales-then-image {
    border-radius:10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
